/* Navbar */
.navbar .dropdown .dropdown-menu{
    margin-top: 15px !important;
}
.navbar .dropdown{
    text-transform: capitalize;
}
.navbar .dropdown .dropdown-menu .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #06153c;
}
.navbar .dropdown .dropdown-menu .profile .image img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid #5e72e4;
}
.navbar .dropdown .dropdown-menu .profile .info span{
    font-weight: 700;
    color: #f8f9fa;
}
/* End of Navbar */

/* Sidebar */
.navbar-vertical.navbar-expand-xs .navbar-collapse {
    height: 100%;
}
/* End of Sidebar */

/* Table */
div.dataTables_wrapper div.dataTables_paginate ul.pagination li:first-of-type a,
div.dataTables_wrapper div.dataTables_paginate ul.pagination li:last-of-type a{
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
    margin: 0 15px;
    width: 65px;
}
.page-link.active,
.active>.page-link {
    font-weight: 700;
    text-align: center;
    color: #000000 !important;
}

/* End of table */

/* Modal */
.modal-article .modal-content .description{
    padding-bottom: 1rem;
}
.modal-article .modal-content ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.modal-article .modal-content ul li{
    padding: 0.35rem 0.5rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    font-size: 0.87rem;
    letter-spacing: 0.07rem;
    font-weight: 500;
    line-height: 1.2;
    background-color: #FF8C32;
}
.modal-article .modal-content ul li:first-of-type{
    margin-left: 0;
}
.modal-article .modal-content ul li a {
    color: #000;
    text-decoration: none;
}
/* Form */
form label{
    display: block;
}
.select2-container{
    width: 100% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #5e72e4;
    border: 1px solid #fff;
    color: #212529;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .07rem;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5e72e4;
    color: white;
}
/* End of form */

/* Empty Section */
.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.empty .info{
    margin-top: 15px;
}
/* End of Empty Section */


/* Buttons */
.btn{
    margin-bottom: 0;
}
.btn-show{
    color: #fff;
    background-color: #06153c;
}
.btn-add-plus{
    background-color: #06153c;
}
.btn-add-plus:hover,
.btn-add-plus:focus{
    background-color: #06153c;
}
.btn-delete{
    color: #e6e6e6;
    background-color: #D82148;
}
.btn-edit{
    color: #e6e6e6;
    background-color: #39A388;
}
/* End of Buttons */
