/* Navbar */
.navbar .dropdown .dropdown-menu{
    margin-top: 15px !important;
}
.navbar .dropdown{
    text-transform: capitalize;
}
.navbar .dropdown .dropdown-menu .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #06153c;
}
.navbar .dropdown .dropdown-menu .profile .image img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid #5e72e4;
}
.navbar .dropdown .dropdown-menu .profile .info span{
    font-weight: 700;
    color: #f8f9fa;
}
/* End of Navbar */

/* Sidebar */
.navbar-vertical.navbar-expand-xs .navbar-collapse {
    height: 100%;
}
/* End of Sidebar */

/* Table */
div.dataTables_wrapper div.dataTables_paginate ul.pagination li:first-of-type a,
div.dataTables_wrapper div.dataTables_paginate ul.pagination li:last-of-type a{
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
    margin: 0 15px;
    width: 65px;
}
.page-link.active,
.active>.page-link {
    font-weight: 700;
    text-align: center;
    color: #000000 !important;
}

/* End of table */

/* Buttons */
.btn{
    margin-bottom: 0;
}
.btn-add-plus{
    background-color: #06153c;
}
.btn-add-plus:hover,
.btn-add-plus:focus{
    background-color: #06153c;
}
.btn-delete{
    color: #e6e6e6;
    background-color: #D82148;
}
.btn-edit{
    color: #e6e6e6;
    background-color: #39A388;
}
/* End of Buttons */
