.homepage{
    // Some tags
    .some-tags{
        ul{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            li{
                padding: 0.35rem 0.7rem;
                font-weight: 500;
                line-height: 1.2;
                background-color: #eee;
                a{
                    color: #000;
                    text-decoration: none;
                }
            }
        }
    }
    // Article Content
    .articles-content{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    // End of Article Content
}

