// Crayons Button
.crayons-btn{
    background-color: $navy-color;
    border-color: $navy-color;
    font-weight: 700;
    &:hover, &:focus{
        background-color: $navy-color;
        border-color: $navy-color;
        box-shadow: none;
    }
}
