// Cards
.card{
    // Article Card
    &.card-article{
        box-shadow: 0 0 10px 0px rgb(0 0 0 / 10%);
        border-color: transparent;
        // Card Header
        .card-header{
            padding: 0;
            height: 200px;
            overflow: hidden;
            background-color: transparent;
            img{
                height: 100%;
                width: 100%;
            }
        }
        // Card Body
        .card-body{
            ul{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 0.7rem;
                li{
                    padding: 0.35rem 0.5rem;
                    margin-right: 0.25rem;
                    margin-left: 0.25rem;
                    font-size: 0.7rem;
                    letter-spacing: .07rem;
                    font-weight: 500;
                    line-height: 1.2;
                    background-color: $orange-color;
                    &:first-of-type{
                        margin-left: 0rem;
                    }
                    a{
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
            a{
                color: #000;
                text-decoration: none;
                &:hover{
                    color: #000;
                    text-decoration: none;
                }
            }
            h2{
                font-weight: 700;
                font-size: 1.3rem;
                text-transform: capitalize;
                width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            // Info
            .info{
                display: flex;
                align-items: center;
                p{
                    width: 170px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 0;
                    font-size: .85rem;
                    color: #595858;
                }
                a{
                    display: block;
                    font-size: .8rem;
                    font-weight: 700;
                    text-decoration: none;
                    color: #000;
                    &:hover{
                        color: $navy-color;
                    }
                }
            }

        }
        // Card Footer
        .card-footer{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background-color: transparent;
            border-top: 1px solid rgb(0 0 0 / 8%);
            // Image
            .image{
                width: 30px;
                height: 30px;
                @include prefixer(border-radius, 50%, webkit moz ms o);
                img{
                    width: 100%;
                    height: 100%;
                    border: 3px solid $navy-color;
                    @include prefixer(border-radius, 50%, webkit moz ms o);
                }
            }
            // User info
            .user-info{
                margin-left: 10px;
                margin-right: 10px;
                a{
                    margin: 0;
                    font-weight: 700;
                    font-size: .85rem;
                    color: #000;
                    text-transform: capitalize;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    // End of Article Card

    // Categories Card
    &.card-categories{
        .card-header, .card-footer{
            background-color: #fff;
        }
    }
    // End of categories Card

}
