// Article card
.card.article {
    margin-bottom: 1.5rem;
    .card-header{
        position: relative;
        padding: 0;
        aspect-ratio: 9/6;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .card-body{
        h3 {
            font-size: 1.55rem;
            font-weight: 600;
            a {
                text-decoration: none;
                color: $dark-color;
            }
        }
        p{
            margin-bottom: 0;
            color: $gray-color;
            width: 355px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
    }
    .card-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        padding-top: .7rem;
        padding-bottom: .7rem;
        .user {
            display: flex;
            align-items: center;        
            // User Image
            .user-image {
                width: 35px;
                border-radius: 50%;
                border: 1px solid $dark-color;
                margin-right: 5px;
            }

            // User name
            .user-name {
                font-weight: 600;
                color: $dark-color;
            }
        }
    }
}
// End of Article card

// User Card
.card.user-info {
    .card-header {
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $dark-green;
        // User Image
        .user-image {
            border-radius: 50%;
            width: 110px;
            border: 2px solid $mint-green;
            img {
                width: 100%;
            }
        }
    }
    .card-body {
        h4 {
            font-weight: 600;
            font-size: 1.3rem;
        }
        p {
            margin-bottom: 0.5rem;
            color: $gray-color;
        }

        ul {
            margin: 0;
            padding-top: 10px;
            li {
                display: inline-block;
                &:nth-child(2) {
                    padding: 0 10px;
                }

                a {
                    color: $dark-color;
                    transition: all .25s ease-in;
                    &:hover {
                        color: $dark-green;
                    }
                    i {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

// Large devices (up and desktops, 992px)
@media (max-width: 767.98px) {
    // Article card
    .card.article {
        margin-bottom: 1.5rem;
        .card-header{
            padding: 0;
            aspect-ratio: 9/6;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .card-body{
            h3 {
                font-size: 1.55rem;
                a {
                    color: $dark-color;
                }
            }
            p{
                width: 459px;
                -webkit-line-clamp: 2;
            }
        }
        
    }
    // End of Article card
}

@media (min-width: 768px) and (max-width: 991.98px){
    // Article card
    .card.article {
        margin-bottom: 1.5rem;
        .card-body{
            h3 {
                font-size: 1.37rem;
            }
            p{
                width: 270px;
                -webkit-line-clamp: 2;
            }
        }
        
    }
    // End of Article card
}