// Modal article
.modal-article{
    // Modal Content
    .modal-content{
        // Image
        .article-image{
            margin-bottom: 20px;
        }
        // Description
        .description{
            padding-bottom: 1rem;
        }
        .tags-content{
            a{
                margin-right: 0.25rem;
                margin-left: 0.25rem;
                margin-bottom: 0.5rem;

                background-color: $orange-color;
                &:first-of-type{
                    margin-left: 0;
                }
            }
        }
        
    }
}

// End of Modal

