// Header
.header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(347deg, rgb(20 99 86 / 61%), rgb(163 218 141 / 66%)), 
    url("../images/bg.jpg") center center no-repeat;
    background-size: cover;
}

// End of header