// Popular Tags
.popular-tags {
    padding: 30px 0;
    background-color: $dark-color;
}

// Section
.section {
    padding: 50px 0;
    // Section header 
    .section-header{
        padding-bottom: 25px;
        margin-bottom: 20px;
    }
}